*{
    padding: 0px;
    margin: 0px;
}
.container{
    background-image: url("./Assetes/background35.jpg");
    margin: 50px 50px 50px 50px;
    


}
.container h1,h2,label{
    color: powderblue;
 margin: 0px 10px 10px 10px;
}
#warning{
    color: purple;
}
.nameResults{
    width: 75%;
    padding: 50px;
    background-color: white;
    border: 1px solid rgb(221, 194, 38);
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    margin-top: 20px;
    display: flex;
}
