*{
    padding: 0px;
    margin: 0px;
}
.container-xxl{
    background-image: url("./Assetes/background35.jpg");
    margin: 80px 80px 80px 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    


}
.container h1,h2,label{
    color: saddlebrown;
 margin: 0px 10px 10px 10px;
}