*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
nav{
    background-color: rgb(155, 221, 243);
    height: 80px;

}
.nav-bar .logo{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    color: slateblue;
    font-weight: bolder;

}



.landingpage{
    background-image: url("./Assetes/wallpaper-mania.com_High_resolution_wallpaper_background_ID_77700212989.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    display: flex;
}
.textone{
    text-align: center;
    color: ivory;
    margin: 100px;
    font-style: italic;
    font-size: 40px;
    
    
}
.textone h1{
    color: tan;
    font-size: 50px;
    font-weight: 20px;
}
.imageone{
    float: right;
    height: 500px;
}

